
*.v2
ManagementSystem/.vs/ManagementSystem/v16/.suo
ManagementSystem/ManagementSystem/obj/Debug/net5.0/ManagementSystem.assets.cache
*.cache
*.editorconfig
*.json
*.v2
ManagementSystem/.vs/ManagementSystem/DesignTimeBuild/.dtbcache.v2
ManagementSystem/.vs/ManagementSystem/v16/.suo
ManagementSystem/ManagementSystem/obj/Debug/net5.0/project.razor.json
ManagementSystem/ManagementSystem/obj/Debug/net5.0/ManagementSystem.GeneratedMSBuildEditorConfig.editorconfig
ManagementSystem/ManagementSystem/obj/Debug/net5.0/ManagementSystem.csproj.AssemblyReference.cache
ManagementSystem/ManagementSystem/obj/Debug/net5.0/ManagementSystem.assets.cache
